<!DOCTYPE html>
<html lang="en">
  <head>
    {% set base_url %}https://einsfeld.de/{% endset %}
    <title>{% block title %}einsfeld.de{% endblock %}</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="canonical" href="{% block url %}{{base_url}}{% endblock %}" />

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Title" content="{{self.title()}}">
    <meta name="Description" content="{% block description %}{% endblock %}">
    <meta charset="utf-8">
    <meta name="Revisit" content="After 15 days">
    <meta name="Keywords" content="Katja Einsfeld, Softwareentwicklung, Gesellschaft">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta name="content-language" content="de,en">
    <meta property="og:url" content="{{ self.url() }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ self.title() }}"/>
    <meta property="og:description" content="{{self.description()}}" />
    <meta property="og:image" content="{{base_url}}{% block image %}images/logo.png{% endblock %}" />
    <link rel="icon" href="/favicon.ico?v=3" sizes="16x16 32x32 48x48 64x64 128x128" type="image/vnd.microsoft.icon">
  </head>
  <body text="#FFFFFF" bgcolor="#000000" onLoad="if (self != top) top.location = self.location">
    <!-- Page content -->
    <div class="content">
     {% block content %}{% endblock %}
    <!-- End Page Content -->
    </div>
  </body>
</html>
